[submodule "dot_vim/pack/vendor/start/fzf.vim"]
	path = dot_vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dot_vim/pack/vendor/start/fzf"]
	path = dot_vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dot_vim/pack/vendor/start/nerdtree"]
	path = dot_vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "dot_vim/pack/vendor/start/sensible"]
	path = dot_vim/pack/vendor/start/sensible
	url = https://tpope.io/vim/sensible.git
[submodule "dot_fontfiles/intel-one-mono"]
	path = dot_fontfiles/intel-one-mono
	url = https://github.com/intel/intel-one-mono.git
[submodule "dot_vim/pack/vendor/start/coc.nvim"]
	path = dot_vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
