[user]
	name = Ava Chaney
	email = {{ if (index . "email") }}{{ .email | quote }}{{ else }}"hello@ava.dev"{{- end}}
[core]
	autocrlf = input
[init]
	defaultBranch = main
{{- if eq .chezmoi.os "linux" }}
[credential]
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}
{{- if (index . "gitconfig_include") }}
[include]
	path = {{ .gitconfig_include | quote }}
{{- end }}
