[user]
	name = Ava Chaney
	email = {{ if (index . "email") }}{{ .email | quote }}{{ else }}"hello@ava.dev"{{- end}}
[core]
	autocrlf = input
[init]
	defaultBranch = main
{{- if (index . "gitconfig_include") }}
[include]
	path = {{ .gitconfig_include | quote }}
{{- end }}

