# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Path setup
export "PATH=$HOME/.cargo/bin:$HOME/.yarn/bin:$HOME/bin:$PATH"
if command -v pyenv &>/dev/null; then
  export "PATH=$(pyenv root)/shims:$PATH"
fi

# thefuck setup
if command -v thefuck &>/dev/null; then
  eval $(thefuck --alias)
fi

# nano gang
export EDITOR=nano

# autocompletion configuration
zstyle ':completion:*' completer _expand _complete _ignored _approximate
zstyle ':completion:*' max-errors 1
zstyle :compinstall filename '~/.zshrc'

autoload -Uz compinit
compinit

# save a shit ton of history
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
bindkey -e

# SSH agent
zstyle :omz:plugins:ssh-agent quiet yes
zstyle :omz:plugins:ssh-agent agent-forwarding on
if [ -f "~/.ssh/id_ed25519" ]; then
  zstyle :omz:plugins:ssh-agent identities id_ed25519
fi

{{ if not (env "RUBY_ROOT" | empty) }}
# Ruby setup
source /opt/homebrew/opt/chruby/share/chruby/chruby.sh
source /opt/homebrew/opt/chruby/share/chruby/auto.sh
chruby ruby-3.1.2
{{ end }}

# Set up Antigen
source ~/antigen.zsh
antigen use oh-my-zsh
antigen bundle git
antigen bundle command-not-found
antigen bundle ssh-agent
antigen bundle zsh-users/zsh-syntax-highlighting
antigen theme romkatv/powerlevel10k
antigen apply

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# dev
[ -f /opt/dev/dev.sh ] && source /opt/dev/dev.sh

# Auto-update dotfiles; keep this at the end of .zshrc
# disabled for now because it, _rather predictably_, makes shell starts longer (what were you thinking, past me?)
#if [[ $(chezmoi update >/dev/null 2>&1 | grep "Updating " >/dev/null 2>&1) ]]; then
#  echo -e '\033[1;36m  New dotfiles downloaded. They will be applied on your next shell restart.'
#fi
