[colors]
foreground = #fff
background = #aa45354d
text = ${xrdb:accentText}
accent0 = ${xrdb:accent0}
accent1 = ${xrdb:accent1}
accent2 = ${xrdb:accent2}
unfocused = ${xrdb:unfocused}

[global/wm]
margin-bottom = 7
margin-top = 7

[bar/topleft]
{{- if eq .chezmoi.hostname "hydaelyn" }}
monitor = DP-0
{{- end }}
foreground = ${colors.foreground}
background = ${colors.background}

#font-0 = SF Pro Display:style=Regular:size=12;2
#font-0 = Inter:style=Regular:size=12;2
font-0 = Oswald:style=Regular:pixelsize=12;2
font-1 = Material Icons:style=Regular:size=13;5
font-2 = Font Awesome 5 Free:pixelsize=12;3
font-3 = Font Awesome 5 Free Solid:pixelsize=12;3
font-4 = Font Awesome 5 Brands:pixelsize=12;3

height = 30

padding = 3
module-margin = 2

enable-ipc = true

modules-left = i3
modules-center = spotify previous playpause next
{{- if eq .chezmoi.hostname "zodiark" }}
modules-right = wlan battery audio time date
{{- else }}
modules-right = audio time date
{{- end }}

tray-position = right

{{- if eq .chezmoi.hostname "hydaelyn" }}
[bar/topright]
monitor = DP-2.8
foreground = ${colors.foreground}
background = ${colors.background}

#font-0 = SF Pro Display:style=Regular:size=12;2
font-0 = Oswald:style=Regular:pixelsize=12;2
font-1 = Material Icons:style=Regular:size=13;5
font-2 = Font Awesome 5 Free:pixelsize=12;3
font-3 = Font Awesome 5 Free Solid:pixelsize=12;3
font-4 = Font Awesome 5 Brands:pixelsize=12;3

height = 30

padding = 3
module-margin = 2

modules-left = i3
modules-center =
modules-right = 
{{- end }}

[module/audio]
type = internal/pulseaudio
use-ui-max = true
interval = 5

format-volume = <ramp-volume> <label-volume>

label-muted =  Muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

# I'm sure this'll work someday... :)
click-right = pavucontrol &

# Requires polybar-spotify-module (available in AUR)
# https://github.com/mihirlad55/polybar-spotify-module
[module/spotify]
type = custom/ipc
hook-0 = echo ""
hook-1 = spotifyctl -q status --format '%artist%: %title%'
format-prefix =  

[module/previous]
type = custom/ipc
format-font = 2
hook-0 = echo ""
hook-1 = echo ""
click-left = "spotifyctl -q previous"

[module/next]
type = custom/ipc
format-font = 2
hook-0 = echo ""
hook-1 = echo ""
click-left = "spotifyctl -q next"

[module/playpause]
type = custom/ipc
format-font = 2
hook-0 = echo ""
hook-1 = echo ""
hook-2 = echo ""
click-left = "spotifyctl -q playpause"

{{- if eq .chezmoi.hostname "zodiark" }}
[module/battery]
type = internal/battery

poll-interval = 5
full-at = 99

battery = BAT0
adapter = AC

label-charging =  %percentage%%
label-discharging =  %percentage%%
label-full =  %percentage%%

[module/wlan]
type = internal/network
interface = wlp4s0
interval = 3.0

label-connected =  %essid%
label-disconnected = 
label-packetloss =  %essid%
{{- end }}

[module/i3]
type = internal/i3

pin-workspaces = true
index-sort = true

; Available tags:
;   <label-state> (default) - gets replaced with <label-(focused|unfocused|visible|urgent)>
;   <label-mode> (default)
format = <label-state> <label-mode>

; Available tokens:
;   %mode%
; Default: %mode%
label-mode = %mode%
label-mode-padding = 2
label-mode-background = #e60053

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon%  %name%
label-focused = %index%
label-focused-foreground = #ffffff
label-focused-background = ${colors.accent0}
label-focused-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon%  %name%
label-unfocused = %index%
label-unfocused-background = ${colors.unfocused}
label-unfocused-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon%  %name%
label-visible = %index%
label-visible-background = ${colors.accent1}
label-visible-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon%  %name%
label-urgent = %index%
label-urgent-foreground = #000000
label-urgent-background = #bd2c40
label-urgent-padding = 4

[module/time]
type = internal/date
time = %r
label =  %time%

[module/date]
type = internal/date
date = %Y-%m-%d
label =  %date%
